################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FuncyTester/obj
/FuncyTester/bin/Debug/netcoreapp2.1
/funcy/obj
/funcy/bin/Debug/netcoreapp2.1
